@model TravelExpertsData.Customer

@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>

<form asp-action="Register" method="post" class="col-md-7 mx-auto">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label asp-for="CustFirstName" class="form-label">First name</label>
        <input asp-for="CustFirstName" type="text" class="form-control" />
        <span asp-validation-for="CustFirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CustLastName" class="form-label">Last name</label>
        <input asp-for="CustLastName" type="text" class="form-control" />
        <span asp-validation-for="CustLastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CustAddress" class="form-label">Address</label>
        <input asp-for="CustAddress" type="text" class="form-control" />
        <span asp-validation-for="CustAddress" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CustCity" class="form-label">City</label>
        <input asp-for="CustCity" type="text" class="form-control" />
        <span asp-validation-for="CustCity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CustProv" class="form-label">Province</label>
        <input asp-for="CustProv" type="text" class="form-control" />
        <span asp-validation-for="CustProv" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CustPostal" class="form-label">Postal Code</label>
        <input asp-for="CustPostal" type="text" class="form-control" />
        <span asp-validation-for="CustPostal" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CustCountry" class="form-label">Country</label>
        <input asp-for="CustCountry" type="text" class="form-control" />
        <span asp-validation-for="CustCountry" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CustEmail" class="form-label">Email</label>
        <input asp-for="CustEmail" type="email" class="form-control" />
        <span asp-validation-for="CustEmail" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CustHomePhone" class="form-label">Home Phone</label>
        <input asp-for="CustHomePhone" type="tel" class="form-control" />
        <span asp-validation-for="CustHomePhone" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CustBusPhone" class="form-label">Business Phone</label>
        <input asp-for="CustBusPhone" type="tel" class="form-control" />
        <span asp-validation-for="CustBusPhone" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UserId" class="form-label">User ID</label>
        <input asp-for="UserId" type="text" class="form-control" />
        <span asp-validation-for="UserId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="form-label">Password</label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
        <input asp-for="ConfirmPassword" type="password" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Submit</button>
</form>
